@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  background: #EDE4E0;  /* fallback for old browsers */
  background-color: #c6b8ac;
  font-family: 'Roboto', sans-serif;
}


/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
header {
  background-color:rgba(159, 135, 114, 0.851);
  Height: 70px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

li {
  list-style: none;  
  font-size: 20px;
}

a {
  text-decoration: none; 
  color: black; 
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px; 
}

.nav-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2em;
     margin-right: 2em;
}

/*contacto*/
.contacto {
  background-color: #C8DBBE;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}
 
.contacto:hover {
  background-color: #94a48c;
  padding: 8px 12px;
  border-radius: 10px;
}
/* Sombreado de seleccion en menu */

.nav-menu-link:hover {
  background-color: #52484497;
  transition: 0.5s;
  border-radius: 20px;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

/* ---------------- */ 

#foto-logo {
  width: 200px;
}

.titulo1 {
  font-size: 30px;
  margin-left: 2em;
}

.nav-link {
  transition: 0,7s ease;
}

.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
  background-color: white;

}

/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/
/* TODO ESTO ES EL HEADER - COMÚN PARA TODAS LAS PÁGINAS*/

/*------------------------------------------*/

main {
  background-image: url(imagenes/background.jpg);
  background-attachment: fixed;
}

/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */
/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */
/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */
/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */
/* EMPIEZA ------ Carrusel ------ SOLO PARA HOME */


.slider-frame {
	width: 100%;
  height: 770px;
	margin: 0 auto 0;
	overflow: hidden;
  border: 3px double black;
  background-color: rgb(3, 3, 3);
  background-position: center;
}

.slider-frame .carrusel {
	display: flex;
	padding: 0;
	width: 1000%;
	
	animation: slide 60s infinite alternate ease-in-out;
}

.slider-frame .imagenCarrusel {
	width: 100%;
	list-style: none;
}

.slider-frame .imgCarr {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	5% {margin-left: 0;}
	
	10% {margin-left: -100%;}
	15% {margin-left: -100%;}
	
	20% {margin-left: -200%;}
	25% {margin-left: -200%;}
	
	30% {margin-left: -300%;}
	35% {margin-left: -300%;}

  40% {margin-left: -400%;}
	45% {margin-left: -400%;}

  50% {margin-left: -500%;}
	55% {margin-left: -500%;}

  60% {margin-left: -600%;}
	65% {margin-left: -600%;}

  70% {margin-left: -700%;}
	75% {margin-left: -700%;}

  80% {margin-left: -800%;}
	85% {margin-left: -800%;}

  90% {margin-left: -900%;}
	95% {margin-left: -900%;}

}
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */
/* TERMINA ------ Carrusel ------ SOLO PARA HOME */



/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */
/*EMPIEZA ------ SOBRE NOSOTROS ----- SOLO PARA EL HOME */

.seccion {
  background-color: #EDE4E0;
  padding: 30px;
  font-size: 24px;
  text-align: center;
  box-shadow: #000000;
}
.descripcion {
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.mas-info {
  font-size: 25px;
  background-color: #C8DBBE;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.mas-info:hover {
  background-color: #94a48c;
}

/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */
/*EMPIEZA ------ BEBIDAS -------------------------- SOLO PARA EL HOME */


#resumen-bebidas-home {
  margin-top: 150px;
}

#seccion-menu {
  padding: 0px 10px 30px 10px;
  display: grid;
  gap: 4%;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 50px;
}

.bebida {
  background-color: white;
  display: block;
  min-width: 10em;
  margin-top: 30px;
  padding: 20px;
  border-radius: 40px;
  text-align: center;
}

.bebida img{
  height: 150px;
}
.bebida-leyenda{
  padding-bottom: 30px;
}

.list-ingredientes {
  text-align: center;
  margin-top: 50px;
  margin-bottom: auto; 
}

.nombre-bebida {
  font-size: 25px;
  padding-bottom: 5px;
}

/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/
/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/
/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/
/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/
/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/
/*------------------ACA EMPIEZA EL FORM DEL HOME--------------*/

.seccion-form {
  margin-top: 150px;
  justify-content: center;

}

.container-form {
  padding: 5%;
  background-color: white;
  width: 70%;
  display: block;
  margin: 0 auto 0 auto;
  border-radius: 40px;
}

.formulario-home {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  max-width: 70%;
  margin: 0 auto 0 auto;
  justify-content: center;
}

#titulo-form {
  margin-bottom: 30px;
}

.contenido {
  padding: 5px;
  margin: 10px;
  background-color: white;
  margin: 0 auto 0 auto
}

.form-texto {
  min-width: 300px;
  height: 40px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

form label {
  font-size: 1em;
}

.text-area {
  width: 300px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

.selector-puesto {
  width: 80%;
  height: 30px;
  border-radius: 10px;
}

.submit-form {
  font-size: 20px;
  background-color: #C8DBBE;
  padding: 10px 60px;
  border-radius: 10px;
  border-style: hidden;
  display: block;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

.form-archivo {
  display: none;
}

#labelFILE {
  cursor: pointer;
  background-color: #C8DBBE;
  padding: 10px 60px;
  border-radius: 10px;
  border-style: hidden;
  font-size: 15px;
}

#subi-CV {
  margin-top: 10px;
}

.archivo {
  margin: 0 0 10px 0;
}

.submit-form:hover {
  background-color: #94a48c;
}

::placeholder {
  opacity: .5;
  padding: 10px;
}


/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*/

.body-1 {
  background-color: #c6b8ac;
}

.footer2{
  width: 100%;
  display: grid;
  justify-content: center;
  color: rgb(0, 0, 0);  
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}


.telefonos{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid black;
  width: 90%;
}


.copyright{
  color: #793905;
  display: flex;   
  justify-content: center;
  border-top: #000000 double;
}

.logoFooter{
  display: flex; 
  padding: 0;
  width: 300px; 
  padding-right: 20px;
  margin: 0 auto 0 auto;
}
li{
  margin: 14px;
  margin-left: 0%;
}

.h2Telefonos{ 
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: #000000;
}

.redes{
  border-left: solid black;
  color: #ffffff;
}

.redes li {
  font-size: 18px;
  text-align: center;
}

.fa-brands{
  opacity: 75%;
  color: #000000;
  z-index: 1;
}
.fa-phone{
  color: #000000;
  opacity: 75%;  
}

/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*//*--------------FOOTER--------------*/
/*--------------FOOTER--------------*//*--------------FOOTER--------------*/


/*****************************************ACA EMPIEZA MENÚ*********************************//*****************************************ACA EMPIEZA MENÚ*********************************/
/*****************************************ACA EMPIEZA MENÚ*********************************//*****************************************ACA EMPIEZA MENÚ*********************************/

.seccion-menu {
  padding-top: 60px;
  background-color: #EDE4E0;
  padding-left: 50px;
  padding-right: 50px;
}

.tarjetero{
  display: grid;    
  width: 100%;  
  justify-content: space-around; 
  grid-template-columns: auto auto auto auto;
  padding-top: 10px;
  font-size: 20px;
  gap: 0.5%;
  word-wrap: normal;
}

.tarjetero2{
  margin-bottom: 100px;
}

.tarjeta {
  font-size: 16px;    
  min-width: 8em;
  background-color: white;
  border-radius: 1.5rem; 
  text-align: center;    
  font-style: oblique;    
  padding: 10px;
  min-height: 430px;
}
.parrafo{
color: #000000;
margin-top: 6px;
font-family: 'Josefin Sans', sans-serif;  
}
.minifoto{
padding-top: 8px;
margin-left: 12px;
width: 130px;  
}

.titulo-comida {
  margin: 50px 0 50px 0;
  font-size: 2em;
}




/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */
/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */
/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */
/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */
/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */
/* ------------------- SOBRE NOSOTROS PAGINA ------------------ *//* ------------------- SOBRE NOSOTROS PAGINA ------------------ */


.sobre-nosotros {
  margin-top: 67px;
}

.logoGalaxy-sobre {
  width: 70%;
}

.contenedor-titulo-ppal{
display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.separador{
margin: 0 auto;
padding: 30px 0px 50px 0px;
display: block;
text-align:center;
width: 100%;
}

.contenedor2{
width: 1200px;
margin: 0 auto;
max-width: 80%;
}

.titulo-principal{
  font-size: 1.5em;
  font-family: 'globerregular';
  line-height: 1.6em;
  width: 100%;
  margin: 2px auto;
  color: #000000;
  text-align:center;
}

.texto-principal{
font-size: 1em;
font-family: 'globerregular';
line-height: 1.6em;
width: 100%;
margin: 2px auto;
color: #000000;
text-align: center;
}


/*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/
 /*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/
 /*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/
 /*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/
 /*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/
 /*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*//*--------CONTACTO PAGINA----------*/

.container{    
  margin-top: 100px;
  margin-left: 0;
}
.row{
border: solid #C8DBBE;
padding: 20px;
}
#botonEnviar{ 
justify-content: center; 
align-content: center; 
}

/*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*/
/*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*/
/*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*/
/*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*//*--------SUCURSALES PAGINA----------*/

.mapa{
  width: 100%;
  height: 100%;
}

.seccion-mapa {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 60% 40%;
}


.direcciones {
  background-color: white;
  border-radius: 10px;
  padding: 5%;
  margin: 10px 0 0 10px;
}

.horario {
  border-top: #000000 solid;
  padding-top: 5px;
  margin-top: 5px;
}

.direcciones p {
  font-size: 20px;
}

.direcciones h4 {
  font-size: 22px;
}


/*----------RECETAS-------------*/

#titutloRecetas{    
    margin: 20px;
    justify-items: center;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.contenedorApi{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 20px;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;    
    border: 1px solid rgb(252, 231, 231);
    background-color: white;
    margin: 10px;
    border-radius: 1.2rem;
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;     
}
.lista{
    margin-top: 5px;
}
.cuerpo{
    padding: 10px;
}
.card img{     
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1.2rem;
}

.menu-recetas h3 {
  margin-bottom: 30px;
}


.seccion-form1 {
  margin-top: 70px;
}

/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/
/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/
/*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*//*media querys*/

@media (max-width:1040px) {
  .hamburger {
    display:block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    background-color: #e9d7c8;
    width: 100%;
    text-align: center;
    transition: 0,5s;
    z-index: 10;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;    
  }

  .titulo1 {
    margin-left: auto;
    margin-right: auto;
  }
 
  /* Sombreado de seleccion en Menu */  /* Sombreado de seleccion en Menu */  /* Sombreado de seleccion en Menu */

  .nav-menu-link:hover,   
  .nav-menu-link:active{
    
    background-color: rgba(85, 80, 72, 0.363);
    left: 0;
    color:rgb(253, 234, 206);
    transition: 0.5s;    
  }

  /** Carrusel **/

  .slider-frame {
    margin: 120 auto 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

  #seccion-menu {
    padding: 0px 10px 30px 10px;
    display: grid;
    gap: 4%;
    grid-template-columns: auto auto;
  }

  .bebida {
    background-color: white;
    width: 300px;
    margin-top: 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 40px;
  }
  .tarjetero{
    grid-template-columns: auto auto auto;
  }
  .formulario-home {
    display: grid;
    grid-template-columns: auto;
  }

  .footer2{
    grid-template-columns: 50%;
  }
  .seccion-logo-footer {
    border-bottom: black solid;
  }
  .logoFooter{
    width: 200px; 
    margin: 10px auto 0 auto;
    padding-bottom: 30px;
    border-left: none;
  }
  .telefonos {
    margin: 30px;
    border-left: none;
  }

  .redes{
    border-top: solid black;
    color: #ffffff;
    border-left: none;
    padding-top: 30px;
  }
  .tarjetero2{
    margin-bottom: 250px;
  }

  /*-----------SUCURSALES---------*/
  .seccion-mapa {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 100%;
  }

  .mapa {
    height: 600px;
  }

}

@media (max-width:700px){
  #seccion-menu {
    padding: 0px 10px 100px 10px;
    display: grid;
    gap: 4%;
    grid-template-columns: auto;
  }

  .tarjetero{
    grid-template-columns: auto auto;  
  }
  .tarjeta {
    min-width: 200px;
  }


    .imgPortada{
      z-index: -2;
      position: absolute;
  }

  #Titulo1 {
      z-index: -1;
      position: absolute;
      top:250px; 
      font-size: 25px; 
  }

  #subtitulo1{
      z-index: -1;
      position: absolute;
      top:300px; 
      font-size: 35px;
  }

  /* form query home */  /* form query home */
  /* form query home */  /* form query home */
  /* form query home */  /* form query home */
  /* form query home */  /* form query home */


  .container-form {
    width: 100%;
  }
  .formulario-home {
    width: 100%;
  }
  
  #titulo-form {
    margin-bottom: 30px;
  }
  
  .contenido {
    padding: 5px;
    margin: 5px;
    background-color: white;
  }
  
  .form-texto {
    height: 40px;
    min-width: 250px;
  }
  
  form label {
    font-size: 0.8em;
  }
  
  .text-area {
    width: 250px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
  }
  
  .submit-form {
    font-size: 20px;
    background-color: #C8DBBE;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: hidden;
  }

} 

@media (max-width:400px){
  .tarjetero{
  z-index: -1;
  grid-template-columns: auto;
  justify-content: center; 

  }

  .tarjeta {
    margin-top: 0;
    width: 300px;
    font-size: 1em;
  }

  .logoGalaxy-sobre {
    width: 100%;
  }

  .tarjetero2{
    margin-bottom: 300px;
  }

  .titulo-comida {
    margin: 100px 0 10px 0;
    font-size: 2em;
  }
} 